// Principali
$primary-color-1: #8e210b;
$primary-color-2: #255255;

// Secondari chiari
$secondary-light-color-1: #b2280c;
$secondary-light-color-2: #35767a;

// Secondari scuri
$secondary-dark-color-1: #481005;
$secondary-dark-color-2: #1b3d3d;

// Testi


/*
// Pulsanti
$btn-primary: [...];
$btn-primary-hover: [...];
*/
