<div class="recipe-image" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>
<div class="recipe-body">
  <h5 class="recipe-title">{{ricetta.title}}</h5>
  <p class="recipe-text">{{ricetta.description}}</p>
  <div class="recipe-footer">
    <div class="recipe-difficulty">
      <h6>Difficoltà:</h6>
      <span>||Stars-placeholder||</span>
    </div>
    <div class="recipe-publication">
      <h6>Ricetta pubblicata il: {{ricetta.date | date: 'dd/MM/yyyy'}}</h6>
    </div>
  </div>
</div>
