.icona-cibando{
  width: 48px;
  margin-right: 8px;
  cursor: pointer;
}

.bg-red{
  background-color: #8e210b!important;
}

header{
  background-color: #8e210b;
  padding-left: 16px;
}

.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;

  :last-child{
    margin-left: auto;
    color: #ffffff85;
  }
}

.nav-link{
  display: flex;
  align-items: center;
  gap: 8px;
}

#search-bar-container{
  position: relative;
  bottom: 4px;
}

#user-bar{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;

  :last-child{
    margin-right: 16px;
  }
}
