.container-title{
  width: 480px;

  h1 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
  }

  p{
    font-size: 16px;
    color: gray;
    font-weight: 800;
  }
}

.testo-evidenziato{
  background-color: yellow;
}
