@import "../../styles/colori.scss";

.container-title{
  width: 100%;
  text-align: center;

  h1 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
  }

  p{
    font-size: 16px;
    color: gray;
    font-weight: 800;
  }
}

.testo-evidenziato{
  background-color: yellow;
}

#container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 16px;
}

:host ::ng-deep button.p-ripple.p-element.p-button.p-component {
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
  background: $primary-color-1;
  border: none;
}
