<app-carousel></app-carousel>

<div class="container-title">
  <h1 [ngClass]="evidenziato ? 'testo-evidenziato' : ''" (click)="onEvidenzazione()" style="cursor: pointer;">Benvenuti in Cibando!!</h1>
  <p [ngStyle]="{'background-color': evidenziato ? 'yellow' : 'white'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, repudiandae cum? Sit mollitia natus beatae commodi dolores sequi! Commodi, quia.</p>
</div>

<h2>Ultime ricette</h2>
<p-button [label]="isLoaded() ? 'Nascondi ricette' : 'Mostra ricette'" (click)="toggle()"/>
@defer (when isLoaded()) {
  @if (isLoaded()){
    <div id="container-cards">
      <div class="container-card" *ngFor="let ricetta of ricette">
        <app-recipe-card [recipe]="ricetta" [page]="'home'"></app-recipe-card>
      </div>
    </div>
  }
}

<!--
<button (click)="openModal(modaleUno, 453, 'Spaghetti')">Elimina Prodotto</button>
<button (click)="openModal(modaleRegistrazione)">Registrazione</button>
-->
<!-- MODALE 1 -->
<ng-template #modaleUno let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Elimina prodotto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Sei sicuro di voler eliminare il prodotto: {{this.idModale}} <strong>{{this.nomeModale}}</strong>?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('Close click')">CONFERMA</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" ngbAutofocus>ANNULLA</button>
	</div>
</ng-template>

<!-- MODALE 2 -->
<ng-template #modaleRegistrazione let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Grazie per esserti registrato!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<h3>Ecco i tuoi dati:</h3>
    <ul>
      <li>Nome: {{this.datiRegistrazione['name']}}</li>
      <li>Email: {{this.datiRegistrazione['email']}}</li>
    </ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.dismiss()" ngbAutofocus>CHIUDI</button>
	</div>
</ng-template>
