<div id="profile-data-container">
  <h2>Dati del profilo:</h2>
  <div class="profile-data-field">
    <h6>Nome:</h6>
    <p>{{user.name}}</p>
  </div>
  <div class="profile-data-field">
    <h6>Email:</h6>
    <p>{{user.email}}</p>
  </div>
  <div class="profile-data-field">
    <h6>Password:</h6>
    <p>{{user.password}}</p>
  </div>
  <div class="profile-data-field">
    <h6>Ruolo:</h6>
    <p>{{user.role}}</p>
  </div>
  <div class="profile-data-field">
    <h6>Data creazione account:</h6>
    <p>{{user.createdAt | date}}</p>
  </div>
  <div class="profile-data-field">
    <h6>Data ultima modifica:</h6>
    <p>{{user.updatedAt | date}}</p>
  </div>
</div>
