<div id="login-container">
  <form #form="ngForm">
    <div class="form-group">
      <p-floatLabel>
        <input pInputText id="email" type="email" name="email" ngModel />
        <label for="email">Email</label>
    </p-floatLabel>
    </div>
    <div class="form-group">
      <p-floatLabel>
        <p-password name="password"
          [inputStyle]="{'width': '100%', 'padding': '6px'}" [style]="{'width': '100%'}"
          [toggleMask]="true" [feedback]="false" ngModel />
        <label for="password">Password</label>
    </p-floatLabel>
    </div>
    <div id="error-message" *ngIf="errorMessage.length">
      {{errorMessage}}
    </div>
    <div id="btn-container">
      <p-button label="Accedi" icon="pi pi-check" iconPos="right" (click)="onSubmit(form.value)" />
    </div>
  </form>
  <div id="signup-link">
    Se ancora non sei registrato, <a routerLink="/registrazione">clicca qui!</a>
  </div>
</div>
